*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}


header {
    margin: auto;
    width: 100%;
    height: 600px;
    background-size: cover;
    background: linear-gradient(top, #31D7F0 0%, #D6CA99 100%);
    background: -webkit-linear-gradient(top, rgba(49, 214, 240, 0.308) 0%, rgba(214, 202, 153, 0.692) 100%), url("../img/salmonriver.jpg");
    background-size: 100%;
    position: relative;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

header nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
}


nav .logo{
    height: 100%;
    background-color: #00b9adb2;
 
}
nav .logo img{
    object-fit: cover;
    height: inherit;
}



/*CSS for navigation*/
nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #06a77cd3;
}
.navigation {
	list-style: none;
	padding: 12px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
}
.navigation a:hover {
	color: white;
	background-color: black;
    font-weight: 700;
    
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
    background-color: tomato;
}

/**CSS for textos and H1 and H2*/

header .textos{
    text-align: center;
    color: #022b3a;
    margin-top: 150px;
}

header .textos h1{
    font-size: 75px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .textos h2{
    font-size: 30px; 
    font-weight: 600;

}

/*main*/
main {

    width: 80%;
    margin: auto;
}
.box {
border: 10px;
width: 100%;
margin: auto;
text-align: center;
background-color: rgb(11, 116, 116);
padding: 40px;

}

.contain {
    width: 100%;
    height: auto;
    margin: 25px auto;
    padding: 20px;
    border: black solid;
}

.image{
    width: 100%;
    height: 100%;
}

/*Weather information */

.weather-container{
    width: 100%;
    height: 300px;
    background-color: rgb(215, 228, 245);
}

.weather-icon{
    
    height: 128px;
    margin: auto;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
   
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}


.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

    footer div{

        text-align: center;
        padding: 10px;
        background-color: rgb(80, 35, 56);
        font-family: 'Trade Winds' ;
        color: honeydew;
        max-width: 100%;
        margin: 0 auto;

        }